---
- name: create service unit
  template:
    src: blackbox_exporter.{{ ansible_service_mgr | lower }}.j2
    dest: "{{ lookup('vars', '_blackbox_exporter_' + ansible_service_mgr + '_service').file }}"
    owner: root
    group: root
    mode: "{{ lookup('vars', '_blackbox_exporter_' + ansible_service_mgr + '_service').mode }}"
  notify:
    - restart blackbox exporter

- name: configure blackbox exporter
  template:
    src: blackbox_exporter.yml.j2
    dest: /etc/blackbox_exporter.yml
    owner: blackbox-exp
    group: blackbox-exp
    mode: 0644
  notify:
    - reload blackbox exporter
